.boxcenter{
    width: 80%;
    margin: 0px auto;
}
.boxleft{
    float: left;
    
    width:calc(70% - 20px);
    min-height: 600px;
    margin-right: 20px;
}
.boxright{
    float: left;
    
    width: 30%;
    min-height:600px;
}
.boxleft img{
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
hr{
    clear: both;
}
a{
    text-decoration: none;
    font-size:20pt;
    color: #f00;
}
a:hover{
    color: #ff0
}
span{
    font-size: 20pt;
    color: #666;
}
p{
    font-size: 13pt;
    font-weight:5px;
    justify-content:center;
}

.boxright img{
    float: left;
    width:100%;
}

.menu{
    width:100%;
    height: 40px;
    background: color #00f;
}
li{
    list-style: none;
    float: left;
    display: inline-block;
    margin-right: 30px;
    font-size:20pt;
    font-variant: small-caps;
}

li>a:hover{
    color: #00f;
}
